@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* ====================== CSS VARIABLES ====================== */
:root{
    /* ====================== WEBPAGE VARIABLES ====================== */
    --heading-font: font-family: 'Poppins', sans-serif;;
    --body-font: 'avenir_next_lt_proregular';

    --heading-font-colour: #FFFFFF;
    --body-font-colour: #FFFFFF;

    --h1-font-size: 4.00rem;
    --h2-font-size: 3.50rem;
    --h3-font-size: 2.60rem;
    --h4-font-size: 2.25rem;

    --largescreens-font-size: 1.40rem;
    --desktops-font-size: 1.25rem;
    --laptop-font-size: 1.20rem;
    --tablets-font-size: 1.15rem;
    --mobile-font-size: 1.10rem;

    --font-medium: 500;
    --font-semi-bold: 650;
    --font-header-bold: 800;

    /* ====================== TYPOGRAPHY ====================== */
    /* ================ Avenir Next ================ */
    --avenir-next-lt-probold: 'avenir_next_lt_probold';
    --avenir-next-lt-proBdCn: 'avenir_next_lt_proBdCn';
    --avenir-next-lt-prodemi: 'avenir_next_lt_prodemi';
    --avenir-next-lt-prodemiCn: 'avenir_next_lt_prodemiCn';
    --avenir-next-lt-proitalic: 'avenir_next_lt_proitalic';
    --avenir-next-lt-proitalic: 'avenir_next_lt_proregular';

    /* ====================== COLOURS ====================== */
    --special-orange-dark: #e68d19;
    --special-orange-strong: #FF9E1B;
    --special-orange-light: #FBB03C;

    --special-pink-strong: #CEA190;
    --special-pink-light: #F4E6E1;
    --special-purple-strong: #9290CE;
    --special-purle-light: #D6CFFB;
    --special-green-strong: #99D8BD;
    --special-green-light: #C5E4D7;

    --special-black: #101820;
    --special-grey-strong:  #3d3d3d;
    --special-grey-light:  #dfdfdf;
    --special-grey-medium:  #777777;
    --special-white: #FFFFFF;
}

/* ====================== WEBPAGE ====================== */
body{
    background-color: var(--special-orange-strong);
    font-family: var(--body-font);
    list-style: none;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-header-bold);
}

h2{
    font-family: var(--heading-font);
    font-size: var(--h2-font-size);
}

h3{
    font-family: var(--heading-font);
    font-size: var(--h3-font-size);
}

h4{
    font-family: var(--heading-font);
    font-size: var(--h4-font-size);
}

/* ====================== NAVIGATION BAR ====================== */
nav{
    background-color: white;
    width: 100%;
    height: 100px;
    position: fixed;
}

/* ================ Contents ================ */
.navigation_grid{
    margin-top: auto;
    margin-bottom: auto;
}

.navigation_gridleft{
    display: grid;
    grid-template-columns: 0.15fr 2.25fr 0.4fr;
}

.navigation_gridleft_column1{
    padding-left: 1rem;
    padding-top: auto;
    padding-bottom: auto;
}

.navigation_logo{
    height: 75px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.navigation_heading{
    color: var(--special-orange-strong);
}

.navigation_gridleft_column3{
    margin-top: auto;
    margin-bottom: auto;
}

.navigation_shoppingcart{
    color: var(--special-orange-strong);
    font-size: 40px;
    font-weight: 100;
}

.navigation_shoppingcart:hover{
    cursor: pointer;
    color: var(--special-orange-light);
    transition: 0.3s;
}
.navigation_shoppingcart:not(:hover){
    transition: 0.3s;
}


/* ================ Hamburger ================ */
input[type="checkbox"]{
    display: none;
}

.navigation_menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #ffcf87, #FF903C);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}

#active:checked ~ .navigation_menu{
    clip-path: circle(75%);
}
  
.hamburger{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #FFFFFF;
    background: linear-gradient(-135deg, #ffcf87, #FF903C);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
#active:checked ~ .hamburger{
    background: #FFFFFF;
    color: #FF903C;
}
  
#active:checked ~ .hamburger i:before{
    content: "\f00d";
}
  
.navigation_menu ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
  
.navigation_menu ul li{
    margin: 15px 0;
}
  
.navigation_menu ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: var(--font-medium);
    padding: 5px 30px;
    color: #FFFFFF;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}
  
.navigation_menu ul li a:hover{
    color: #FF903C;
    background-color: #FFFFFF;
    transition: 0.3s;
}

.navigation_menu ul li a:not(:hover){
    transition: 0.3s;
}




/* ====================== PAGE: HOME ====================== */

/* ================ News & Promotions ================ */
.home_news_poster1{
    display: block;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    height: auto;
}
/* ================ About Us ================ */
.home_aboutus{
    background-color: var(--special-white);
}

.home_aboutus_header{
    color: var(--special-orange-strong);
    text-align: center;
    padding-top: 2.5rem;
}

.home_aboutus_grid_columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home_aboutus_grid_column1{
    padding: 1.5rem 1.5rem 0 3rem;
}

.home_aboutus_grid_column2{
    padding-left: 1.5rem;
}

.home_aboutus_text{
    font-weight: var(--font-medium);
    color: var(--special-orange-strong);
    margin-bottom: 1rem;
}

.home_aboutus_mobiletext{
    display: none;
    font-weight: var(--font-medium);
    color: var(--special-orange-strong);
    margin: 0 0.5rem 1rem 0.5rem;
}

.home_altlogo{
    margin-top: -7.5rem;
    width: 430px;
    height: auto;
}

.home_aboutus_grid_mobile {
	display: none;
}



/* ====================== PAGE: PRODUCT CATALOGUE ====================== */

.product_catalogue{
    background-color: var(--special-grey-light);
    padding: 100px 8rem 2rem 8rem;
    width: 100%;
}

.product_catalogue_header{
    color: var(--special-orange-strong);
    text-align: center;
    padding-top: 1.5rem;
}

.product_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.product_grid_item{
    display: grid;
    grid-template-areas: 
    "image image"
    "content content"
    "price purchase";
    justify-content: center;
    align-content: center;
    column-gap: 1.5rem;
}

/* ================ Grid Items - Products ================ */

.product_item_image{
    grid-area: image;
    width: 200px;
    height: auto;
    display: block;
    margin: 2rem auto 1.5rem auto;
    border-radius: 25px;
}

.product_item_details{
    grid-area: content;
}

.product_item_details_name{
    margin-bottom: 0.5rem;
    font-size: calc(var(--largescreens-font-size) - 0.25rem);
    text-align: center;
}

.product_item_details_name .item_title{
    font-weight: bold;
}

.product_item_details_description{
    margin-bottom: 1rem;
    font-size: calc(var(--largescreens-font-size) - 0.25rem);
    text-align: center;
}

.product_item_details_description .item_ingredients{
    font-style: italic;
    font-size: calc(var(--largescreens-font-size) - 0.4rem);
}

.product_item_price{
    grid-area: price;
    justify-self: end;
    margin: auto 0 auto 0;
}

.product_item_add-to-cart{
    grid-area: purchase;
    justify-self: start;
    color: #FFFFFF;
    font-size: calc(var(--largescreens-font-size) - 0.5rem);
    height: calc(var(--largescreens-font-size) + 0.75rem);
    width: 8rem;
    background-color: var(--special-orange-strong);
    border-radius: 10px;
    border: none;
}
.product_item_add-to-cart:hover{
    transform: translateX(0.4rem);
    cursor: pointer;
    transition: 0.3s;
}
.product_item_add-to-cart:not(:hover){
    transition: 0.3s;
}

.product_item_add-to-cart .cart_icon{
    color: #FFFFFF;
}



/* ====================== FOOTER ====================== */
footer{
    bottom: 0;
}

.footer{
    box-sizing: border-box;
    padding: 50px 0 25px 0;
    width: 100%;
    text-align: left;
    font-weight: bold;
    background-color: var(--special-grey-strong);
}

.footer_column1, .footer_column2, .footer_column3{
    display: inline-block;
    vertical-align: top;
}

.footer_copyright{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #8f9296;
}

/* ================ Footer - Column 1 ================ */

.footer_column1{
    width: 30%;
    margin-left: 1rem;
}

.footer_column1_header{
    color: #FFFFFF;
    font-size: 2rem;
    margin: 0;
}

.footer_links{
    color: #FFFFFF;
    margin: 20px 0 12px;
}

.footer_link_content{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #FFFFFF;
}

.footer_link_content:hover{
    color: var(--special-orange-strong);
    transform: translateY(-3px);
    transition: 0.3s;
}

.footer_link_content:not(:hover){
    transition: 0.3s;
}

/* ================ Footer - Column 2 ================ */

.footer_column2{
    width: 35%;
}

.footer_column2 i{
    margin: 1.5rem 1.5rem;
    vertical-align: middle;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    color: #ffffff;
}

.footer_column2_icon{
    font-size: 1.5rem;
    line-height: 3rem;
}

.footer_column2 p{
    display: inline-block;
    color: #FFFFFF;
    vertical-align: middle;
    margin: 0;
}

.footer_column2 p span{
    display: block;
    font-size: 14px;
    line-height: 2;
}


.footer_column2_email{
    color: #FFFFFF;
}

.footer_column2_email:hover{
    color: var(--special-orange-strong);
    transition: 0.3s;
}

.footer_column2_email:not(:hover){
    transition: 0.3s;
}

/* ================ Footer - Column 3 ================ */

.footer_column3{
    width: 30%;
}

.footer_column3_about{
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    margin: 0;
}

.footer_column3_about span{
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer_icons{
    margin-top: 25px;
}

/* ---------------- Social Media Icons ---------------- */
.footer_button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
  
.footer_iconlink{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    color: #000000;
    transition: all 0.3s ease-out;
}

.footer_iconlink i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.footer_button button{
    font-family: var(--body-font);
    font-size: 1.15rem;
    font-weight: bolder;
    line-height: 60px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
  
.footer_button:nth-child(1) button{
    color: #4267B2;
    border: none;
    background: none;
}
.footer_button:nth-child(2) button{
    color: #1DA1F2;
    border: none;
    background: none;
}
.footer_button:nth-child(3) button{
    color: #E1306C;
    border: none;
    background: none;
}

.altfooter_parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.altfooter_icons{
    display: none;
    padding-top: 1.5rem;
}



/* ================ Footer - Responsiveness ================ */

@media screen and (max-height: 800px){
    footer{
        position: static;
    }
    header{
        padding-top: 40px;
    }
}

@media screen and (max-width: 880px){
    .footer_column1, .footer_column2, .footer_column3{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .footer_column2 i{
        margin-left: 0;
    }
}

/* ====================== RESPONSIVENESS ====================== */

/* ================ Large Screens ================ */
@media screen and (max-width: 2560px) {
    body{
        font-size: var(--largescreens-font-size);
    }

    .navigation_gridleft_column3 {
		margin-top: 19px;
        margin-left: 8rem;
        margin-right: 2rem;
	}
    .navigation_shoppingcart{
        color: var(--special-orange-strong);
        font-size: 50px;
        font-weight: 100;
        margin-top: auto;
        margin-bottom: auto;
    }

    .home_news_poster1{
        display: block;
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 2560px;
        height: auto;
    }
    .home_altlogo{
        padding: 4.5rem 0 0 10rem;
        width: 500px;
        height: auto;
    }
    .home_aboutus_grid_column1{
        padding: 3rem 0 0 10rem;
    }




    .footer_column2 p{
        display: inline-block;
        color: #FFFFFF;
        vertical-align: middle;
        margin: 0;
        font-size: 1rem
    }
    .footer_link_content{
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 1rem
    }
    .footer_button:hover{
        width: 175px;
    }
    .footer_icons .footer_button:hover .footer_iconlink i{
        color: #fff;
    }
    .footer_icons .footer_button:nth-child(1):hover .footer_iconlink{
        background: #4267B2;
    }
    .footer_icons .footer_button:nth-child(2):hover .footer_iconlink{
        background: #1DA1F2;
    }
    .footer_icons .footer_button:nth-child(3):hover .footer_iconlink{
        background: linear-gradient(-135deg, #833AB4, #FCAF45);
    }
    
}

/* ================ Desktops ================ */
@media screen and (max-width: 1440px) {
    body{
        font-size: var(--desktops-font-size);
    }

    .navigation_gridleft_column3 {
		margin-top: 19px;
        margin-left: 2.25rem;
        margin-right: 4rem;
	}
    .cart_box{
        left: 87.5%;
    }

    .home_news_poster1{
        display: block;
        padding-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1440px;
        height: auto;
    }
    .home_aboutus_grid_column1{
        padding: 3rem 0 0 4rem;
    }

    .product_catalogue{
        background-color: var(--special-grey-light);
        padding: 100px 5rem 2rem 5rem;
        width: 100%;
    }

}

/* ================ Laptops ================ */
@media screen and (max-width: 1024px) {
    body{
        font-size: var(--laptops-font-size);
    }

    .navigation_gridleft_column3 {
		margin: 19px -30px;
    }
    .cart_box{
        left: 82.5%;
    }

    .product_catalogue{
        background-color: var(--special-grey-light);
        padding: 100px 3rem 2rem 3rem;
        width: 100%;
    }

    .footer_icons{
        display: none;
    }
    .altfooter_icons{
        display: inline-block;
    }
    .altfooter_icons .footer_button:hover .footer_iconlink i{
        color: #fff;
    }
    .altfooter_icons .footer_button:nth-child(1):hover .footer_iconlink{
        background: #4267B2;
    }
    .altfooter_icons .footer_button:nth-child(2):hover .footer_iconlink{
        background: #1DA1F2;
    }
    .altfooter_icons .footer_button:nth-child(3):hover .footer_iconlink{
        background: linear-gradient(-135deg, #833AB4, #FCAF45);
    }
}

/* ================ Tablets ================ */
@media screen and (max-width: 768px) {
    body{
        font-size: var(--tablets-font-size);
    }

	.navigation_heading {
		font-size: 45px;
	}
	.navigation_gridleft_column2 {
		margin-top: auto;
		margin-bottom: auto;
	}
    .navigation_gridleft_column3 {
		margin-right: 100px;
		margin-top: 19px
	}
    .cart_box{
        left: 78%;
    }
	
	.home_aboutus_grid_column2 {
		display: none;
	}
	.home_aboutus_grid_columns{
        display: grid;
        grid-template-columns: 1fr;
	}
    .home_altlogo{
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
        width: 322.5px;
        height: auto;
    }
    .home_aboutus_text{
        text-align: center;
    }
    .home_aboutus_grid_mobile{
	    display: unset;
		margin-left: auto;
		margin-right: auto;
	}
    .home_aboutus_mobiletext{
        display: unset;
        margin: 0 2.25rem 1rem 2.25rem;
    }
    .home_aboutus_grid_column1{
        display: none;
    }
    .home_aboutus_grid_column2{
        display: none;
    }

    .product_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        background-color: var(--special-grey-light);
    }

    
}

/* ================ Mobile Devices ================ */
@media screen and (max-width: 480px) {
    body{
        font-size: var(--mobile-font-size);
    }

	.navigation_heading {
		margin-top: 8px;
        font-size: 1.65rem;
	}
    .navigation_shoppingcart{
        padding-left: 1rem;
    }
    .cart_box{
        left: 72.5%;
    }

    
    .home_altlogo{
        margin-top: 0.25rem;
        margin-bottom: 0.15rem;
        width: 215px;
        height: auto;
    }
    .home_aboutus_text{
        text-align: center;
        padding: 0;
    }
    .home_aboutus_mobiletext{
        display: unset;
        margin: 0 1rem 1rem 1rem;
        text-align: center;
    }
    .home_aboutus_grid_column1{
        display: none;
    }
    .home_aboutus_grid_column2{
        display: none;
    }
    
    .product_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        background-color: var(--special-grey-light);
    }
    
}

